*{
    font-family: arial, sans-serif;
    margin: 0 auto; /*As margens são usadas para criar espaço ao redor dos elementos, fora de quaisquer bordas definidas. (fora)*/
    padding: 0; /*padding = preenchimento. (dentro)
    Cria espaço ao redor do conteúdo de um elemento, dentro de quaisquer bordas definidas.*/
    box-sizing: border-box; /*o tamanho agora levará em conta até a borda.
    ou seja, o width será a soma do conteúdo com a borda e o padding*/
  }
  
  body, html {
    height: 100%;
  } 
  
  .background_img {
    background-image: url("img/background_img.jpg");
    min-height: 100%; /*altura minima*/
    background-position: center;
    background-repeat: no-repeat; /*a imagem de fundo não se repetir*/
    background-size: cover; /*a imagem de fundo cobrir todo o contêiner.*/
    position: relative; /*define a posição como relativa para posicionar elementos internos de forma absoluta.*/
    display: flex;
  }
  
  .formulario {
    position: absolute;
    right: 0;
    margin: 80px;
    margin-right: 150px;
    max-width: 500px;
    padding: 20px;
    background-color: white; 
    color: black;
    border: solid 2px #6c4539;
  }
  
  h1{
    margin-bottom: 20px;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: solid 1px #6c4539;
    background-color: #ffecfc;
    border-radius: 50px;
  }
    
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ffecfc;
    outline: none;
  }
  
  .esqueci_senha{
    font-size: 20px;
    color: #f45bf4;
    font-style: none;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
  }
  .esqueci_senha:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
    color: hsl(300, 99%, 64%);
  }
  
  .botao_login{
    background-color: #f45bf4;
    color: white;
    padding: 15px 20px;
    border: solid 2px #6c4539;
    cursor: pointer;
    width: 60%;
    opacity: 0.8;
    font-size: 20px;
    margin-left: 90px;
    border-radius: 50px;
  } 
  
  .botao_cadastrar{
    background-color: #f45bf4;
    color: white;
    padding: 15px 20px;
    border: solid 2px #6c4539;
    cursor: pointer;
    width: 60%;
    opacity: 0.8;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 90px;
    border-radius: 50px;
  } 
  
  .botao_login:hover, .botao_cadastrar:hover{
    opacity: 1;
    background-color: hsl(300, 99%, 64%);
  }